*{
    margin: 0;
    padding: 0;
}

header{
    display: block;
}

.menu_bar{
    background-color: aliceblue;
    width: 50%;
    justify-content: center;
}
.menu{
    margin: 0;
    padding: 4px;
}
.menu li{
    list-style: none;
    font-size: 1.2em;   
}

.menu li{
    display: inline;
    margin-right: 5px;
}

.menu a{
    text-decoration: none;
    color: dimgray;
}